# https://git-scm.com/docs/git-config
 
[push]
  autoSetupRemote = true

[advice]
  addIgnoredFile = false

[user]
	name = luismiguelsaez
  email = luismiguelsaez@protonmail.com

[init]
  defaultBranch = main

[alias]
  undo = reset --soft HEAD^